<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title || 'Home' %></title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" >
  </head>
  <body class="bg-gray-100 text-gray-800">

    <div class="container is-fluid is-max-tablet">
        <%- body %>
    </div>


  </body>
</html>
