
<form action="/note/add" method="post">
<div class="field">
  <label class="label">Catatan baru</label>
  <div class="control">
    <textarea class="textarea" name="content" placeholder="Tulis catatan kamu"></textarea>
  </div>
</div>

<div class="field">

<div class="control">
  <button class="button is-primary">Submit</button>
</div>
</div>
</form>
